body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: linear-gradient(110deg, #c83349 25%, #e06377 55%);
    position: relative;
}

hr {
    width: 500px;
    height: 2px;
  background-color: black;
  border: none;
    
}

#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    color:white;
    font-family: 'Times New Roman', Times, serif;
}

#board {
    width: 485px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.tile {
    /* Box */
    border: 2px solid black;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: white;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.correct {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent {
    background-color: #787C7E;
    color: white;
    border-color: white;
}


.keyboard-row {
    width: 480px;
    text-align: center;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.key-tile {
    width: 36px;
    height: 40px;
    margin: 1px;
    border: 1px solid black;
    color:white;
    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-key-tile {
    width: 76px;
    height: 40px;
    margin: 1px;
    border: 1px solid black;
    color:white;
    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.abs{
    position: absolute;
    left: 35px;
    top: 30px;
    background-color: transparent;
    
    


}
a{
    text-decoration: none;
    color: black;
}